<form class='form-search'>
  <input id='search-query' class='input-xlarge search-query' type='text'>
  <button id='search-execute' class='btn btn-success' type='submit'><i class='icon-search icon-white'></i> Search</button>
</form>
