<div id='pagination' class='pagination'>
  <span id='result-range'><%= pageInfo.range[1] %></span> of <%= pageInfo.total %>
  <% if (pageInfo.next) { %>
    <a href='#' class='next'>next</a>
  <% } else { %>
    <span>next</span>
  <% } %>
</div>
