<div id='waypoint' class='pagination'>
  <span id='result-range'><%= page_info.range[1] %></span> of <%= page_info.total %>
  <% if (page_info.next) { %>
    <a href='#' class='next'>next</a>
  <% } else { %>
    <span>next</span>
  <% } %>
</div>
