<td><ul>
  <li class='name'>Facet Name/li>
  <li class='total'>Facet Total</li>
  <% terms.each(function(term) { %>
    <li><%= term.get('term') %> (<%= term.get('count') %>)</li>
  <% }); %>
</ul></td>
