<div class='span4'>
  <ul class='facet unstyled'>
    <li class='facet-name'><strong>Facet Name</strong></li>
    <li class='facet-total'>Facet Total</li>
    <ul class='facet-terms unstyled'></ul>
  </ul>
</div>
