<div class='facet unstyled'>
  <div class='facet-name'><strong>Facet Name</strong></div>
  <div class='btn-group' data-toggle='buttons-radio'>
    <button id='booltype-btn-and' class='btn bool-btn' data-bool='and'>And</button>
    <button id='booltype-btn-or' class='btn bool-btn' data-bool='or'>Or</button>
  </div>
  <div class='facet-total'>Facet Total</div>
  <ul class='facet-items unstyled'></ul>
</div>
