<div class='modal fade'>
  <div class='modal-header'>
    <a class='close' data-dismiss='modal'>x</a>
    <h3>Update Tags</h3>
  </div>
  <div class='modal-body'>
    <div class='input-append'>
      <input id='addTag' type='text' data-default-value='press enter to add a tag'>
      <div id='tagList'></div>
    </div>
    <div class='form-actions'>
      <button id='save-tags' type='submit' class='btn btn-primary' data-loading-text='Saving...'>Save Changes</button>
      <button type='btn' class='btn' data-dismiss='modal'>Cancel</button>
    </div>
  </div>
</div>
