<div class='tab-pane active span9' id='results-tab'>
  <ul id='tweets-list' class='unstyled'></ul>
  <div id='more-results' class='row'><button class='next btn btn-info span9'>More Results</button></div>
</div>
