<li>
  <div class='accordion-group'>
    <div class='accordion-heading'>
      <article class='hentry accordion-toggle' data-toggle='collapse' href=''>
        <header>
          <h2 id='user' class='entry-author'></h2>
        </header>
        <div id='content' class='entry-content'></div>
        <div id='' class='collapse' >
          <p></p>
        </div>
      </article>
    </div>
  </div>
</li>
