<div class='accordion-group'>
  <article class='hentry' data-toggle='collapse' href=''>
    <header>
      <h2 id='user' class='entry-author'></h2>
      <div class='screen_name'></div>
    </header>
    <div id='content' class='entry-content'></div>
    <div class='entry-info'>
      <span class='time-stamp'></span>
    </div>
    <div id='' class='collapse'>
      <p></p>
    </div>
    <button type='button' data-toggle='modal' class='btn btn-primary' href='#tagModel'>Tag</button>
  </article>
</div>
