<div class='span9'>
  <article class='accordion-group hentry'>
    <header>
      <h2 id='user' class='entry-author'></h2>
      <div class='screen_name'></div>
    </header>
    <div id='content' class='entry-content'></div>
    <div class='entry-info'>
      <span class='time-stamp'></span>
    </div>
    <ul id='tagList-<%= model.cid %>' class='tag-list unstyled row'></ul>
    <button class='btn btn-info accordion-toggle' data-toggle='collapse' data-target='<%='#collapse-' + model.cid %>'><i class='icon-plus icon-white'></i></button>
    <button id='tag-btn' class='btn btn-info'><i class='icon-tags icon-white'></i></button>
    <div class='accordion-body collapse'>
      <p>Model Data</p>
    </div>
  </article>
</div>
