<form class='form-search'>
  <input id='query' class='input-xlarge search-query' type='text'>
  <button id='search' class='btn btn-success' type='submit'><i class='icon-search icon-white'></i> Search</button>
  <div class='help-block' id='search-result-time'>Took <span id='took' data-bind='took'>0</span>ms About <span id='search-result-total' data-bind='total'>0</span> results</div>
</form>
