<form class='form-search'>
  <input id='query' class='input-xlarge search-query' type='text'>
  <button id='search' class='btn btn-success' type='submit'>Search</button>
</form>
<p class='help-block' id='search-result-time'>Took <span id='took' data-bind='took'>0</span>ms</p>
