<div id='alerts' class='row'></div>
<form class='form-search'>
  <input id='search-query' class='input-xlarge search-query' type='text'>
  <button id='search-execute' class='btn btn-success' type='submit'><i class='icon-search icon-white'></i> Search</button>
  <button id='save-search' class='btn btn-primary'><i class='icon-inbox icon-white'></i> Save Search</button>
  <div class='help-block'>Took <span id='search-took'>0</span>ms About <span id='search-results-count'>0</span> results</div>
</form>
