<ul class='nav nav-tabs'>
  <li class='active'><a data-toggle='tab' data-target='#tweets-tab'>Results</a></li>
  <li><a data-toggle='tab' data-target='#charts-tab'>Charts</a></li>
</ul>

<div class='tab-content'></div>
