<div class='span4'>
  <ul class='unstyled'>
    <li>Average Retweet Count: <span id='avg-retweet-count'>0</span></li>
    <li>Max Retweet Count: <span id='max-retweet-count'>0</span></li>
  </ul>
</div>
